---
title: About
layout: page
---

%section.profile__banner
  = image_tag 'samnang-chhun-banner.jpg', alt: "Samnang Chhun's photo"
%section.profile__bio
  %p
    Samnang is a software craftsman and freelance web developer living in Phnom Penh,
    Cambodia. He has been programming for 10+ years. He is also a Co-Founder of ShareVision Team, voluntary team to build up
    software communities in Cambodia, and an organizer of Pailin (Ruby/Rails User Group).
    He develops softwares for his living and hobby. He is an agile practitioner,
    and everyday he loves Pair Programming, TDD/BDD, Design Principles, and etc.
    Samnang feels blessed to have been able to enter a profession that he loves.

  %blockquote
    I like solving problems, playing new things, and sharing what I learned.

%section.profile__social-icons
  = social_icon_link(:'envelope-o', 'mailto:samnang.chhun@gmail.com')
  = social_icon_link(:twitter, 'http://twitter.com/samnangchhun')
  = social_icon_link(:github, 'http://github.com/samnang')
  = social_icon_link(:linkedin, 'http://www.linkedin.com/in/samnangchhun')
